
$dark: #474747;
$light: #e0e0ce;
$primary: #ad343e;
$secondary: #f2af29;
$font-family-base: 'Courier Prime', monospace;

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');